<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adouge.service.user.mapper.UserDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userRoleResultMap" type="com.adouge.service.user.entity.UserDept">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="dept_id" property="deptId"/>
    </resultMap>

    <select id="listDeptId" resultType="java.lang.Long">
        select dept_id from adouge_user_dept where 1=1
        <if test="param1!=null">
            and user_id = #{param1}
        </if>
    </select>

    <select id="listDeptName" resultType="java.lang.String">
        select dept_name from adouge_dept a left join adouge_user_dept b on a.id=b.dept_id where 1=1
        <if test="param1!=null">
            and b.user_id = #{param1}
        </if>
    </select>

</mapper>
